@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

.about {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-top: 20rem;
}

.intro {
    padding-right: 1rem;
}

.intro h1 {
    font-family: 'Arvo', serif;
    font-size: 4rem;
    color: white;
    padding-bottom: 1rem;
}

.intro p {
    color: #8d8d8d;

    font-size: 1.3rem;

    width: 80%;
}

.imgs {
    bottom: 8rem;
    left: 74rem;

    position: absolute;
    display: flex;

}

.imgs img {
    width: 55%;
}

@media (max-width: 1440px) {



    .imgs {
        bottom: 22rem;
        left: 67rem;
        padding-right: 3rem;

        position: absolute;
        display: flex;

    }

    .imgs img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .imgs {
        bottom: 3rem;
        left: 45rem;
    }

    .about {
        padding-top: 3rem;
        padding-left: 3rem;
    }
}

@media (max-width: 768px) {
    
    .about {
        padding-top: 7rem;
        padding-left: 5rem;
    }

    .intro p {
        width: 100%;
    }

    .imgs {
        bottom: 2rem;
        left: 29rem;
        padding-right: 3rem;
    }

    .imgs img {
        width: 100%;
    }

}