@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

.about {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-top: 20rem;

    height: 100vh;
}

.intro {
    padding-right: 1rem;
}

.intro h1 {
    font-family: 'Arvo', serif;
    font-size: 4rem;
    color: white;
    padding-bottom: 1rem;
}

.intro p {
    color: #8d8d8d;

    font-size: 1.3rem;

    width: 80%;
}

/* .imgs {
    bottom: 8rem;
    left: 74rem;

    position: absolute;
    display: flex;

} */

.imgs img {
    width: 55%;
}

@media (max-width: 1440px) {



    .imgs {
        bottom: 22rem;
        left: 67rem;
        padding-right: 3rem;

        position: absolute;
        display: flex;

    }

    .imgs img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .imgs {
        bottom: 12rem;
        left: 41rem;
    }

    .intro {
        margin-top: 15rem;
    }

    .intro {
        width: 70%;
        font-size: 1.2rem;
    }

    .about {
        padding-top: 3rem;
        padding-left: 3rem;
    }
}

@media (max-width: 768px) {

    .about {
        padding-top: 7rem;
        padding-left: 5rem;
    }

    .intro {
        margin-top: 11rem;
    }

    .intro p {
        width: 75%;
        font-size: 1rem;
    }

    .imgs {
        bottom: 7rem;
        left: 29rem;
        padding-right: 3rem;
    }

    .imgs img {
        width: 100%;
    }

}

@media (max-width: 425px) {

    .about {
        justify-content: unset;
        z-index: 2;
        padding-top: 0;
        padding-left: 0rem;
    }

    .intro p {
        color: #8d8d8d;

        font-size: 1.2rem;

        width: 139%;
    }

    .intro {
        margin-top: 15rem;
        margin-left: -2.6rem;
        z-index: 3;
    }

    .imgs {
        display: block;
        position: relative;

        bottom: 0rem;
        left: 0rem;
    }

    .imgs img {
        position: fixed;
        padding: 4rem 0rem 0rem 13rem;
        width: 13rem;
    }


}