@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

.about {
    padding-left: 3rem;
    padding-top: 20rem;
}

.intro h1 {
    font-family: 'Arvo', serif;
    font-size: 4rem;
    color: white;
    padding-bottom: 1rem;
}

.intro p {
    color: #8d8d8d;

    font-size: 1.3rem;
    
    width: 100%;
}
