@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

.about {
    height: 100vh;
    overflow: hidden;
}


.about h1 {
    font-family: 'Arvo', serif;
    font-size: 4rem;
}

.about p {
    padding-top: 1rem;
    color: #8d8d8d;
}

.intro {
    padding-left: 3rem;
    padding-top: 20rem;
    color: white;
}

.reactjs {
    position: absolute;

    max-width: 100%;

    overflow: hidden;

    width: 20%;

    right: 0rem;
    top: -11rem;
}


.reactjs img {
    overflow: hidden;
    width: 290%;
}