.navbar {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background-color: #181818;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 8%;

}

.nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: #000000;
    height: 15%;

    font-size: 3rem;
}


.nome h1 {
    padding-bottom: 2rem;
}

.nome p {
    font-size: 12px;
    color: #909096;
}

.menu {
    color: #909096;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.menu h2 {
    padding-bottom: 2rem;
}

.menu h2:hover {
    transition: .5s;

    font-size: 17px;
}

.social {
    color: #909096;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    padding-bottom: 100%;
}

.social a{
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #909096;
}

a:hover {
    transition: .5s;

    font-size: 17px;
}

.icon {
    padding-bottom: 1rem;
}

@media (max-width:1024px) {
    .navbar {
        width: 6rem;
    }

    .social {
        display: flex;
        flex-direction: column;
    }

    .social a{
        padding-bottom: 1rem;
    }
}

@media (max-width:425px) {
    .navbar{
        display: none;
    }
    
}
